# ignoring cshapr
**/bin
**/obj

# ignoring c 
**/*.out
**/*.plist
**/*.dSYM

# ignoring java
**/*.class
**/*.jar
**/.gradle
**/build

# ignoring node_modules
**/node_modules


# ignoring output files
**/*.o